.chat-rooms{
	border: 2px solid gray;
	padding:10px;
	min-width: 300px;
	height: 700px;
	overflow-y: scroll;
	.title{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		h1{
			margin: 0;
			font-size:18px
		}
	}
	
	.room-list{
		display: flex;
		flex-direction: column;
		gap: 10px;
		.active-room{
			background:rgb(185, 163, 240);
		}
		.card-body{
			display: flex;
			gap: 5px;

			p{
				margin: 0;
			}
		}
	}
}