.message {
  max-width: 400px;
  overflow-wrap: break-word;
  display: flex;
  margin: 5px 0;
  .small-row {
    flex-grow: 0;
    display: flex;
    gap: 5px;
    align-items: center;
    p {
      flex-grow: 0;
      padding: 5px 10px;
      border-radius: 10px;
      margin: 0;
      font-size: 16px;
    }
  }
}

.left {
  margin-right: auto;
  .small-row {
    flex-direction: row-reverse;
    justify-content: left;
    p {
      background: #e3e3e3;
    }
  }
}

.right {
  text-align: right;
  justify-content: end;
  margin-left: auto;
  .small-row {
    justify-content: right;
    p {
      background: #9fbdf8;
    }
  }
}
