.login{
	padding: 50px;
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	h1{
		font-size: 25px;
		margin-bottom: 25px;
		text-align: center;
	}
	form{
		width:500px;

		button{
			display: block;
			margin:0 auto;
		}
	}
}