tr{
	text-align:center;
	margin: 0 auto;
	vertical-align: middle;
	.form-checkbox{
		display: flex;
		justify-content:center;

		#checkbox{
		cursor: pointer;
			width: 18px;
			height: 18px;
			box-shadow: none;
			&:checked{
				background-color:  #4a4a4a;
				border: none;
			}
		}
	}

	.status{
		display: block;
		width: 25px;
		height: 25px;
		background: #000;
		margin: 0 auto;
		border-radius: 50%;
	}

	.active{
		background: rgb(1, 179, 1);
	}

	.inactive{
		background: rgb(122, 122, 122);
	}
}