.header {
  background: #9b9b9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .logo {
    color: #fff;
    font-size: 18px;
  }

  .menu {
    display: flex;
    align-items: center;

    .notification {
      position: relative;
      padding: 5px;
      margin-right: 30px;
      &:hover .dropdown-content {
        display: block;
      }

      .indicator {
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgb(252, 49, 49);
        top: 5px;
        right: 5px;
        transform: scale(0);
      }

      .show-indicator {
        animation: indicator 5s linear;

        @keyframes indicator {
          0% {
            transform: scale(1);
          }

          50% {
            transform: translateY(1px);
          }

          100% {
            transform: translateY(-1px);
          }
        }
      }
    }

    .bell-animation {
      animation: bell 5s linear;

      @keyframes bell {
        0% {
          transform: rotate(0deg);
        }

        10% {
          transform: rotate(-10deg);
        }

        20% {
          transform: rotate(5deg);
        }

        30% {
          transform: rotate(10deg);
        }

        40% {
          transform: rotate(5deg);
        }

        50% {
          transform: rotate(-10deg);
        }

        60% {
          transform: rotate(-15deg);
        }

        70% {
          transform: rotate(5deg);
        }

        80% {
          transform: rotate(0deg);
        }

        90% {
          transform: rotate(-10deg);
        }

        10% {
          transform: rotate(0deg);
        }
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      left: -150px;
      top: 35px;
      background-color: #fff;
      width: 350px;
      z-index: 2;
      border: 1px solid #767676;
      border-top: none;

      .dropdown-content-element {
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        align-items: center;

        .other-user {
          display: flex;
          flex-direction: column;
          margin-right: 15px;
          gap: 5px;
          .other-user-logo {
            margin: 0 auto;
            width: 30px;
          }
        }

        .message {
          width: 300px;
          background: #cccccc;
          border: 1px solid #828282;
          border-radius: 5px;
          height: 40px;
          position: relative;
          padding: 5px;
          overflow-wrap: break-word;
          &::after {
            position: absolute;
            content: "";
            top: 10px;
            left: -11px;
            border-top: 6px solid transparent;
            border-bottom: 2px solid transparent;
            border-right: 12px solid #cccccc;
          }
        }
      }
    }
  }
  .user {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
    .user-fullname {
      color: #fff;
      font-size: 18px;
      margin-left: 10px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      left: 39px;
      top: 40px;
      background-color: #fff;
      width: 100px;
      z-index: 1;
      border: 1px solid #767676;
      border-top: none;
      padding: 10px 5px 10px 20px;

      a {
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
        text-align: left;
        text-decoration: none;
        color: #4a4a4a;

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
}
