.students {
	.title-row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		.title {
			font-size: 30px;
		}

		button {
			height: 40px;
		}
	}

	.table {
		thead {
			th {
				text-align: center;
				margin: 0 auto;

				.main-checkbox {
					display: flex;
					justify-content: center;

					#main-checkbox {
						cursor: pointer;
						width: 18px;
						height: 18px;
						box-shadow: none;

						&:checked {
							background-color: #4a4a4a;
							border: none;
						}
					}
				}
			}
		}
	}
}