.form-group{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;
	label{
		width:125px;
	}
	input{
		width: 350px;
	}
	select{
		width: 350px;
	}
	.react-datepicker-wrapper{
		width:auto;
	}
	.datepicker{
		width:315px
	}
}
