.navbar-container{
  position: fixed !important;
  width: 200px;

  background: #fff;
  a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 18px;

    &:hover {
      color: #7b7b7b;
    }
  }

  a.active {
    font-weight: bold;
  }

  .flex-column {
    gap: 10px;
  }
}
.navbar {
  padding: 40px;
}
